.section {
  background-color: white;
  color: #173336;
  padding: 64px 64px 156px 64px;
}
.section main {
  display: flex;
  gap: 64px;
}
@media (max-width: 1032px) {
  .section {
    padding: 32px 32px 92px 32px;
  }
  .section main {
    display: flex;
    gap: 32px;
  }
}
@media (max-width: 760px) {
  .section main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}
@media (max-width: 530px) {
}
@media (max-width: 454px) {
}
@media (max-width: 448px) {
}
@media (max-width: 400px) {
}
@media (max-width: 400px) {
}
