.btn {
  height: 40px;
  background-color: inherit;
  border-radius: 5px;
  cursor: pointer;
  padding-inline: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.white {
  border: 1px solid white;
  color: white;
}
.white:hover {
  background-color: white;
  color: #173336;
}
.orange {
  border: 1px solid #f99750;
  color: #f99750;
}
.orange:hover {
  background-color: #f99750;
  color: #ffffff;
}
